{%extends 'home/base.html'%}
{%block start%}
<div class="container mt-5" >

    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data" >
<h1>Update Receipe</h1>
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Receipe Name</label>
          <input type="text" name="receipe_name" value="{{receipe.receipe_name}}" required  class="form-control">
        
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Receipe Discription</label>
          <textarea type="text" name="receipe_descri" required class="form-control" >{{receipe.receipe_descri}}</textarea>
        </div>
        <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Receipe Image</label>
          <input type="file" name="receipe_image" class="form-control" >
        </div>
        
        <button type="submit" class="btn btn-success">Update Receipe</button>
      </form>


    </div>

{%endblock%}